<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Elecciones 2023</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <nav>
        <ul>
            <li><a href='@Url.Action("Index")'><img src="~/img/argentina.png" height="35px"></a></li>
            <li><a href='@Url.Action("Creditos")'>Creditos</a></li>
            <li><a href='@Url.Action("Elecciones")'>Elecciones 2023</a></li>
        </ul>
        </nav> 
        <div style="padding:20px 10px 0px 10px;">
            @RenderBody()
        </div>
        
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)

        <footer>
        <div class="footer-container">
            <div class="info">
                <img src="~/img/argentina-presidencia.png" width="60%">
            </div>
            <div class="info">
                <p><strong>Teléfonos útiles</strong></p>
                <p>147 Atención Ciudadana</p>
                <p>100 Bomberos</p>
                <p>911 Emergencias</p>
                <p>102 El teléfono de los chicos</p>
                
            </div>
            <div class="info">
                <p>103 Emergencias Defensa Civil</p>
                <p>107 SAME Emergencias</p>
                <p>108 Línea Social</p>
                <p>144 Mujer</p>
                <p>145 - Trata de personas</p>
            </div>
            <div class="info">
                <a href="https://www.facebook.com/GCBA"><img src="~/img/facebook.png" width="30px"></a>
                <a href="https://www.instagram.com/buenosaires/"><img src="~/img/instagram.png" width="30px"></a>
                <a href="https://twitter.com/gcba"><img src="~/img/twitter.png" width="30px"></a>
                <a href="https://www.youtube.com/user/GCBA"><img src="~/img/youtube.png" width="30px"></a>
            </div>
            
        </div>
    </footer>
    </body>
</html>
